<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.hundsun.fund.product.mvc.interceptor.RequestInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.hundsun.fund.product.mvc.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 扫描controller -->
	<context:component-scan base-package="com.hundsun.fund.product.mvc.controller" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- @AspectJ支持 -->
	<aop:aspectj-autoproxy />
	
	<!-- @controler等mvc注解驱动-->
	 <mvc:annotation-driven>
		<!--fastjson配置，替换默认的jackson  -->
		<mvc:message-converters>
			<bean class="com.hundsun.fund.product.mvc.converter.FastJsonpHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 静态资源获取，不用后台映射 -->
	<mvc:resources mapping="/resource/**" location="/resource/" />
</beans>